* {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.nav-link {
    font-weight: 300;
}

.nav2 {
    background-color: antiquewhite;
    height: 60px;
}

.card-text {
    font-size: 18px;
}

.preco {
    font-size: 20px;
    color: red;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: white;
}

.traço {
    color: #000;
    font-weight: 300;
}

.traço:hover {
    color: #000;
    font-weight: 300;
}

.card {
    -webkit-box-shadow: 6px 6px 10px 0px rgba(255,191,191,0.51);
    -moz-box-shadow: 6px 6px 10px 0px rgba(255,191,191,0.51);
    box-shadow: 6px 6px 10px 0px rgba(255,191,191,0.51);
}

.faixa {
    margin-bottom: 10px;
}

